@charset "UTF-8";
    .tag-title {
        color: black;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: 14px
    }

    .tag-container {
        display: flex;
        justify-content: flex-start;
    }

    .tag-item {
        width: 73px;
        height: 32px;
        background: #F4F4F4;
        border-radius: 5px;
        margin-right: 12px;
    }

    .tag-item div {
        text-align: center;
        font-size: 12px;
        padding-top:8px;
        padding-bottom:8px;
    }

    .btn-container {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding-left:0px;
        padding-top:59px;
    }

    .btn-item {
        text-align: center;
        margin-right: 15px;
    }

    .btn-item button {
        width: 123px;
        font-size: 14px;
    }

    .btn-item-wide button {
        width: 679px;
    }

    .btn-item-last {
        margin-right: 0px;
    }
    