@charset "UTF-8";

/* 공통 css 영역 */
div {
font-family: Noto Sans;

}

.whiteSpace_custom{
	height: 160px;	
}

/* 상단 banner 영역 */
.banner_custom {
	width: 100%;
	height: 340px;
	margin-top: 100px;
}

.banner_custom .banner_img img {
	width: 100%;
	height: 340px
}

/* 상단 분홍색 영역 */
.top_custom {
	width: 100%;
	height: 80px;
	background-color: #FF4379;
}

/* 상단 분홍색, 제목 영역 */
.top_title_custom {
	width: 100%;
	height: 60px;
	background-color: #FF4379;
	margin-top: 80px;
}

.top_title_custom .title_custom {
	border: 1px white solid;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 10px;
}

.top_title_custom .title_custom p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-top: 6px;
}

.hashTag_custom{
	margin-right: 20px;
}

.hashTag_custom button {
	width: 120px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: white;
	border: 3px solid black;
	border-radius: 23.50px;
	margin-top: 30px;
}

/* keyword, 타이틀 영역 */
.keyword_title_custom {
	height: 80px;
	position: relative;
	margin-bottom: -20px;
}

.keyword_title_custom .title_div {
	width: 160px;
	height: 30px;
	border-radius: 23.50px;
	border: 3px white solid;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FF4379;
	color: white;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
}

.keyword_title_custom .text_div {
	margin-left: 15px;
	flex: 1;
}

.keyword_title_custom .keyword_input {
	width: 30%;
	border: none;
	position: absolute;
	right: 20px;
	top: 64%;
	transform: translateY(-50%);
}

.keyword_title_custom .keyword_img {
	width: 20px;
	height: 19px;
	right: 10px;
	top: 64%;
	position: absolute;
	transform: translateY(-50%);
}

/* select css */

.select_custom {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.select_custom .select_text_custom {
	font-size: 20px;
	font-weight: bolder;
}

.form-select {
	width: 300px;
	border: 2px black solid;
	border-radius: 23.50px;
	margin-bottom: 5px;
	border: 2px black solid;
}


/* 경계선 css */
.hr_custom {
	border-color: black;
	border-width: 4px;
}

/* 목록 영역 css */
.basic-custom{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.basic-img-custom {
	width: 420px;
	height: 660px;
	background-color: #EAEAEA;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin-left: -20px;
	margin-right: 200px;
}

.basic-img-custom img {
	width: 420px;
	height: 660px;
}

.basic-sideImg-custom {
	width: 220px;
	height: 660px;
/* 	background-color: #EAEAEA; */
	display: flex;
	align-items: center;
	justify-content: center;
/* 	border: 1px solid red; */
	margin-left: -180px;
	margin-right: 100px;
}

.basic-sideImg-custom .sideImg-custom {
	width: 120px;
	height: 120px;
	background-color: #ff80c0;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	border: 1px solid red; */
	margin-top: 5px;
	margin-left: 50px;
	margin-bottom: 5px;
}

.basic-sideImg-custom .sideImg-custom img {
	width: 120px;
	height: 120px;
}

.basic-text-custom {
	width: 620px;
	height: 660px;
	display: flex;
	align-items: center;
	justify-content: center;
/* 	border: 1px solid #0000ff; */
	margin-left: -80px;
}

.basic-text-custom .text-custom {
	width: 600px;
	height: 42px;
	background-color:;
	display: flex;
	align-items: center;
/* 	border: 1px solid red; */
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

.basic-text-custom .text-custom img{
	width: 40px;
	height: 40px;
	
}

.basic-text-custom .text-custom p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 20px;
}

.basic-text-custom .text-custom .text-sm-custom{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 60px;
}

.basic-text-custom .text-custom .text-md-custom{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 40px;
}


.basic-text-custom .text-custom span{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
}

.basic-text-custom .text-icon-custom {
	width: 420px;
	height: 120px;;
	background-color: #ff80c0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	margin-left: 10px;
	margin-bottom: 10px;
}

.basic-text-custom .text-icon-custom .icon-custom {
	width: 60px;
	height: 60px;
	background-color: #ff8000;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	margin-right: 20px;
}


.list_custom {
	margin-bottom: 10px;
}

.tag_custom{
	position: relative;

}

.tag_custom .tag_custom2 {
	width: 100px;
	height: 30px;
	background-color: white;
	border: 2px solid black;
	border-radius: 23.50px;
	position: absolute;
	left: 12px;
	top: 12px;
}

.tag_custom img{
	width: 420px;
	height: 280px;
}

.tag_custom .tag_custom2 .tag_p{
	font-size:16px;
	font-weight: bold;
}

.card_custom {
	width: 600px;
	height: 460px;
	white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.card_custom .title_p{
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 2px;
}

.card_custom .period_p{
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #FF4379;
	margin-bottom: 4px;
}

.card_custom .contet_p{
	font-size:16px;
	font-weight: bold;
	text-align: left;
	text-overflow: ellipsis; /* 텍스트가 너무 길 경우 "..."으로 생략 처리 */
	max-height: calc(2 * 1.2em);
 	overflow: hidden;
}

.content_custom {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content_detail {
	width: 98%;
	height: 600px;
	border : 1px solid black;
	border-radius: 23.50px;
	background-color: #EAEAEA;
	margin-top: 10px;
}

.map_custom {
	display: flex;
	align-items: center;
	justify-content: center;
}

.map_detail {
	width: 98%;
	height: 600px;
	border : 1px solid black;
	border-radius: 23.50px;
	background-color: #EAEAEA;
	margin-top: 10px;
}

