@charset "UTF-8";

.mbti-img-box {
	width: 640px;
	height: 900px;
	position: relative;
}

.mbti-title {
	position: absolute;
	top: 38%; /* Set the top position to 50% */
	left: 51%; /* Set the left position to 50% */
	transform: translate(-50%, -50%);
	font-size: 28px;
	font-weight: bolder;
	width: 440px;

}

.mbti-btn1 {
	position: absolute;
	top: 580px; /* Set the top position to 50% */
	left: 50%; /* Set the left position to 50% */
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: bolder;
	color: black;
	width: 520px;
	magrin-top: 8px;
	height: 86px;
	border-color: transparent;
	    border: none;
}

.mbti-btn2 {
	position: absolute;
	top: 690px; /* Set the top position to 50% */
	left: 50%; /* Set the left position to 50% */
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: bolder;
	color: black;
	width: 520px;
	magrin-top: 8px;
	height: 90px;
	border-color: transparent;
	    border: none;
}

.btn:hover {
    background-color: transparent;
    border-color: transparent;
    color : black;
    border: none;
}