@charset "UTF-8";

h1 {
	color: black;
	font-size: 32px;
	font-family: Noto Sans;
	font-weight: 600;
	word-wrap: break-word
}

h2 {
	color: #FF4379;
	font-family: Noto Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding-bottom: 10px;
}

.mypost-content-custom {
	margin-top: 20px;
}

.mypost-form-label {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 6px;
}

.mypost-form-label
.text-box {
	font-size: 20px;
	font-weight: bolder;
}

.mb-3 img {
	width: 600px;
	height: 300px;
	margin-left: 6px;
}

.my-board-custom {
	border: 1px solid black;
	border-radius: 20px;
}

.my-first-title {
	
}